/OperaPowerTools.egg-info
/OperaPowerTools/__pycache__
OperaPowerRelay.egg-info/dependency_links.txt
OperaPowerRelay.egg-info/PKG-INFO
OperaPowerRelay.egg-info/requires.txt
OperaPowerRelay.egg-info/SOURCES.txt
OperaPowerRelay.egg-info/top_level.txt
OperaPowerRelay/__pycache__/__init__.cpython-310.pyc
OperaPowerRelay/__pycache__/opr.cpython-310.pyc
*.pyc
